body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: black;
    overflow: hidden;
}

#notepad {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url("background.jpg");
    background-size: cover;
    overflow-y: auto;
}

#notepad::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 10%;
    width: 2px;
    background: red;
}

#notepad>table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    font-family: 'Rock Salt';
}

#notepad>table>thead {
    font-size: 4dvw;
    line-height: 3;
    color: white;
    background: sienna;
}

#notepad>table>tbody {
    font-size: 8dvw;
    line-height: 1.5;
    text-align: center;
}

.resultsRow {
    border-top: 1px solid black;
    font-weight: bold;
    color: red;
    vertical-align: top;
}

#menuPanel {
    position: fixed;
    inset: 0;
    color: white;
    background: rgba(0, 0, 0, .95);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
}

#menuPanel>table {
    width: 100%;
    font-size: 6dvw;
    font-family: 'Courier New', Courier, monospace
}

#menuPanel>table>thead {
    font-size: 10dvw;
    line-height: 1.5;
    background: sienna;
}

#menuPanel>table>tbody>tr>td {
    padding: 0 5%;
}

.titleRow {
    font-size: 6dvw;
    font-weight: bold;
    text-align: center;
    background-color: gray;
}

.dateRow {
    font-size: 3dvw;
    text-align: center;
}

#historyList {
    display: block;
    height: 50dvh;
    font-size: 3dvw;
    overflow-y: auto;
}